// #root {
//     max-height: 90vh;


// }
.rootContainer {
    min-height: 90vh;
    max-width: 95%;
    margin: 0 auto;
}

.focus {
    position: absolute;
}
.blur {
    width: 100%;
}

.rootBox {
    display: flex;
    height: 90vh;
    justify-content: center;
}

.rootMessageForm {
    display: flex;
    border-radius: 5px;
    flex-grow:2;
    border: 2px solid grey; 
    max-width: 75%;
    flex-direction: column;                 
}
.rootMessageFormMobile {
    margin: 0 auto;
    display: flex;
    border-radius: 5px;

    flex-grow:1;
    max-width: 100%;
    border: 2px solid grey; 
    height: 90vh;
    flex-direction: column;                 
}


.time {
    font-style:italic;
    color: rgb(80, 80, 80);
    font-size: 12px;
    margin-left: 30px;
}

.date {
    font-style:italic;
    color: rgb(80, 80, 80);
    font-size: 8px;
}
.textArea {
    width: 80%;
    resize: none;
    border-radius: 4px;
}

.message {
    padding: 10px;
    margin: 5px 0;
    max-width: 80%;
    align-self: flex-start;
    border-radius: 10px;
    background-color: rgb(182, 230, 176);
    p {
        word-wrap: break-word;
    }
    // span {
    //     background-color:azure;
    //     display: block;
    //     padding: 5px;
    //     height: 20px;
    //     border-radius: 20px;
    //     text-align: center;
    // }
}

.myMessage {
    align-self: flex-end;
    position: relative;
    max-width: 80%;
    background-color: rgb(240, 231, 136);
    cursor: pointer;
}
.myDate {
    align-self: flex-start;
    display: flex;
    font-style:italic;
    color: rgb(80, 80, 80);
    font-size: 12px;
}
.date {
    display: flex;
    align-content:center;
    align-self: flex-end;
    font-style:italic;
    color: rgb(80, 80, 80);
    font-size: 12px;
}

// .editMessage{
//     background-color: rgb(246, 245, 235);
//     transform:translate(-120px, -90px);
// }

.messageBox { 
    display: flex;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color:rgb(229, 232, 233);
    display: flex;
    flex-grow :2;
    flex-direction: column;
    overflow: scroll;
     
    
}
.usersBox { 
    align-content: flex-end;
    text-align: center;
    margin-left: 10px;
    width: 20%;
    overflow: scroll;
    border-radius: 10px;
    border: 2px solid grey; 
    background-color:rgb(30, 45, 52);
    .online {
        position: relative;
        border-radius: 3px;
        padding: 5px;
        border:2px solid rgb(255, 255, 255); 
        margin-bottom: 5px;
        cursor: pointer;
        font-weight: 700;
        color:aliceblue;

    }
}

.usersBoxMobile { 
    display: flex;
    align-items: center;
    padding: 5px;
    text-align: center;
    overflow: scroll;
    font-size: 11px;
    border-radius: 10px;
    border: 2px solid grey; 
    background-color:rgb(7, 42, 60);
    color:rgb(239, 239, 233);
    transition: all 3s ease-in-out;    
    .online {
        position: relative;
        border-radius: 5px;
        text-overflow: ellipsis;
        padding: 5px;
        border: 2px solid grey;
        margin-bottom: 5px;
        background-color:rgb(7, 42, 60);;
        font-weight: 500;

    }
    .on {
        transform: translateX(100%);
        display: none;
    }
}
