.rootContainer {
    max-width: 95%;
    max-height: 95vh;
    margin: 0 auto;
}

.focus {
    max-width: 80%;
}
.blur {
    width: 100%;
}

.rootBox {
    display: flex;
    height: 94vh;
    justify-content: center;
}
.mobileRootBox {
    display: block;


}

.rootMessageForm {
    display: flex;
    flex-grow:2;
    max-width: 75%;
    flex-direction: column;                 
}
.rootMessageFormMobile {
    display: flex;
    flex-grow:2;
    max-width: 100%;
    flex-direction: column;                 
}


.time {
    font-style:italic;
    color: rgb(80, 80, 80);
    font-size: 12px;
    margin-left: 30px;
}

.date {
    font-style:italic;
    color: rgb(80, 80, 80);
    font-size: 8px;
}
.textArea {
    width: 80%;
    resize: none;
    border-radius: 4px;
}

.message {
    padding: 10px;
    margin: 2px 30px;
    max-width: 50%;
    align-self: flex-start;
    border-radius: 10px;
    background-color: rgb(182, 230, 176);
    p {
        word-wrap: break-word;
    }
    // span {
    //     background-color:azure;
    //     display: block;
    //     padding: 5px;
    //     height: 20px;
    //     border-radius: 20px;
    //     text-align: center;
    // }
}

.myMessage {
    align-self: flex-end;
    position: relative;
    max-width: 50%;
    background-color: rgb(240, 231, 136);
    cursor: pointer;
}
.myDate {
    align-self: flex-start;
    display: flex;
    font-style:italic;
    color: rgb(80, 80, 80);
    font-size: 12px;
}
.date {
    display: flex;
    align-content:center;
    align-self: flex-end;
    font-style:italic;
    color: rgb(80, 80, 80);
    font-size: 12px;
}

// .editMessage{
//     background-color: rgb(246, 245, 235);
//     transform:translate(-120px, -90px);
// }

.messageBox { 
    display: flex;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color:rgb(243, 243, 243);
    display: flex;
    flex-grow :2;
    flex-direction: column;
    overflow: scroll;
    height: 70vh;
     
    
}
.usersBox { 
    align-content: flex-end;
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    width: 20%;
    overflow: scroll;
    border-radius: 10px;
    background-color:rgb(243, 243, 243);
    .online {
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 5px;
        background-color:rgb(247, 233, 233);
        font-weight: 700;

    }
}

.usersBoxMobile { 
    display: flex;
    align-items: center;
    padding: 5px;
    text-align: center;
    overflow: scroll;
    font-size: 11px;
    border-radius: 10px;
    background-color:rgb(243, 243, 243);
    transition: all 3s ease-in-out;    
    .online {
        border-radius: 5px;
        text-overflow: ellipsis;
        padding: 5px;
        margin-bottom: 5px;
        background-color:rgb(247, 233, 233);
        font-weight: 500;

    }
    .on {
        transform: translateX(100%);
        display: none;
    }
}
